@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 style="color: blue">Teachers System</h1>
        <p>Current Culture: @System.Threading.Thread.CurrentThread.CurrentCulture.Name</p>
    </div>
