@model OAuthTest.Students.Models.UkOnlyViewModel
@{
    ViewData["Title"] = "UK Only";
}
<h1>@ViewData["Title"]</h1>

<p>This view is for United Kingdom Customer Only - <b>@Model.ApiReturnText</b></p>